Modbus-LoRaWAN.json
[
    {
        "id": "5b26a23d.a8a06c",
        "type": "tab",
        "label": "Tests Modbus ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "61ed3e2f478a77fc",
        "type": "group",
        "z": "5b26a23d.a8a06c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b4bb1a5f3bc0b8fa",
            "82b5da62ca97bfb3"
        ],
        "x": 28,
        "y": 33,
        "w": 1004,
        "h": 354
    },
    {
        "id": "b4bb1a5f3bc0b8fa",
        "type": "group",
        "z": "5b26a23d.a8a06c",
        "g": "61ed3e2f478a77fc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5d569041.3b246",
            "60c1ec4c.275374",
            "ce8f3e1696ccf944"
        ],
        "x": 54,
        "y": 259,
        "w": 612,
        "h": 102
    },
    {
        "id": "82b5da62ca97bfb3",
        "type": "group",
        "z": "5b26a23d.a8a06c",
        "g": "61ed3e2f478a77fc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a9827b67c85d0b04",
            "f13bf107ef80dfd2",
            "53cf1654410c7cfe",
            "c1ce40537f2167b6",
            "4bd596bf3248d454",
            "4797b2dff70a3d4b"
        ],
        "x": 54,
        "y": 59,
        "w": 952,
        "h": 122
    },
    {
        "id": "5d569041.3b246",
        "type": "inject",
        "z": "5b26a23d.a8a06c",
        "g": "b4bb1a5f3bc0b8fa",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "60c1ec4c.275374"
            ]
        ]
    },
    {
        "id": "f13bf107ef80dfd2",
        "type": "function",
        "z": "5b26a23d.a8a06c",
        "g": "82b5da62ca97bfb3",
        "name": "Write multiple",
        "func": "var values = [msg.payload.object.valveSetpoint, msg.payload.object.valveTemperature];\nmsg.payload = { 'value': values, 'fc': 16, 'unitid': 2, 'address': 2, 'quantity': 2 }\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "a9827b67c85d0b04",
                "4797b2dff70a3d4b"
            ]
        ]
    },
    {
        "id": "53cf1654410c7cfe",
        "type": "debug",
        "z": "5b26a23d.a8a06c",
        "g": "82b5da62ca97bfb3",
        "name": "Debug write",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "60c1ec4c.275374",
        "type": "modbus-getter",
        "z": "5b26a23d.a8a06c",
        "g": "b4bb1a5f3bc0b8fa",
        "name": "Read multiple ",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "2",
        "server": "1ff5566e73e13189",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "ce8f3e1696ccf944"
            ],
            []
        ]
    },
    {
        "id": "a9827b67c85d0b04",
        "type": "modbus-flex-write",
        "z": "5b26a23d.a8a06c",
        "g": "82b5da62ca97bfb3",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "1ff5566e73e13189",
        "emptyMsgOnFail": true,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "53cf1654410c7cfe"
            ],
            []
        ]
    },
    {
        "id": "c1ce40537f2167b6",
        "type": "debug",
        "z": "5b26a23d.a8a06c",
        "g": "82b5da62ca97bfb3",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "4bd596bf3248d454",
        "type": "mqtt in",
        "z": "5b26a23d.a8a06c",
        "g": "82b5da62ca97bfb3",
        "name": "MQTT Subscriber",
        "topic": "application/f433e3b7-0861-4dfe-9416-ccbdc65b7781/device/ecdb86fffd4a48f1/event/up",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d6dd3de173c23998",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "c1ce40537f2167b6",
                "f13bf107ef80dfd2"
            ]
        ],
        "info": "\r\n# MQTT Subscriber node\r\n\r\n - How to configure this node\r\n    -\r\n    The configuration off this node depend of which LNS or MQTT broker you use.\r\n\r\n    - For The Things Network\r\n        - \r\n        With **TTN LNS** you have to use the following topic :\r\n            ***`v3/{application_id}@ttn/devices/+/up`*** \\\r\n        Replace `{application_id}` by your application id in TTN.\\\r\n         And don't forget the `@ttn`\r\n    - For The Things Stack\r\n        - \r\n        With **TTS LNS** you have to use the following topic :\r\n            ***`v3/{application_id}/devices/+/up`*** \\\r\n        Replace `{application_id}` by your application id in TTS.\r\n\r\n    - For Chirpstack\r\n        - \r\n        With **Chirpstack LNS** you have to use the following topic :\r\n            ***`application/{application_id}/device/+/event/up`*** \\\r\n        Replace `{application_id}` by your application id (it's the number, not the name !).\r\n    - For Actility\r\n        - \r\n        if you use **Actility LNS** see the [documentation](https://docs.thingpark.com/thingpark-x/latest/Connector/BROKER_MQTT/) for using actillity broker\r\n\r\n        - For actility-USMB Broker : ***`univ-smb/devices/+/uplink`***\r\n        - For HiveMQ Broker : ***`mqtt/things/+/uplink`***\r\n        \r\n    - For other LNS or MQTT broker\r\n        - \r\n        If you use any other LNS or MQTT broker please refer to their documentation to configure this MQTT node."
    },
    {
        "id": "4797b2dff70a3d4b",
        "type": "debug",
        "z": "5b26a23d.a8a06c",
        "g": "82b5da62ca97bfb3",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "ce8f3e1696ccf944",
        "type": "debug",
        "z": "5b26a23d.a8a06c",
        "g": "b4bb1a5f3bc0b8fa",
        "name": "Debug read",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "1ff5566e73e13189",
        "type": "modbus-client",
        "name": "server (pyModSlave)",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "192.168.001.145",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyS1",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 2,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "d6dd3de173c23998",
        "type": "mqtt-broker",
        "name": "Chirpstack-Cloud",
        "broker": "http://maximilien.univ-lorawan.fr",
        "port": "8883",
        "tls": "2418490b3512393e",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2418490b3512393e",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "da220e8d0eecfeee",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2"
        }
    }
]